.idea
.DS_Store
.classpath
.project
.settings
npm-debug.log

src/main/webapp/.idea/.name

src/main/webapp/.idea/encodings.xml

src/main/webapp/.idea/inspectionProfiles/profiles_settings.xml

src/main/webapp/.idea/inspectionProfiles/Project_Default.xml

src/main/webapp/.idea/misc.xml

src/main/webapp/.idea/modules.xml

src/main/webapp/.idea/scopes/scope_settings.xml

src/main/webapp/.idea/vcs.xml

src/main/webapp/.idea/webapp.iml

src/main/webapp/.idea/workspace.xml
/target

src/main/webapp/index.html

src/main/webapp/cs-mobile-web/app/scripts/modules/source-policy.js

src/main/webapp/cs-mobile-web/app/scripts/modules/system-config.js