<!--
<div class="list-group ">
    <a href="" style="text-align:center;" data-ng-click="articleSelect(articleDetails)" data-ng-repeat="articleDetails in messageData.article" class="list-group-item">{{articleDetails.articleTitle}}</a>
</div>

<div class="modal fade" id="sscArticleModal" tabindex="-1" role="dialog" aria-labelledby="sscArticleModalLabel" style="max-height: 100%">
    <div class="modal-dialog" role="document" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center; border-top-left-radius: 5px;  border-top-right-radius: 5px;">
                <h4 class="modal-title" id="sscArticleHeader">TEST HEADER</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <div data-ng-bind-html="articleHtml"></div>
            </div>
            <div class="modal-footer">
                <div class="feedback-bar">
                    <h5 class="inline feedback-text pull-left">Was this article useful to you?</h5>
                    <div class="pull-right">
                        <a data-ng-click="thumbsUp()"><i class="fa fa-thumbs-up fa-2x"></i></a>
                        <a class="margin-left" data-ng-click="thumbsDown()"><i class="fa fa-thumbs-down fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->