<div>
  <div data-ng-show="showNumbers">
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="enter(1)" id="btn-1">
        <h4>1</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(2)" id="btn-2">
        <h4>2</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(3)" id="btn-3">
        <h4>3</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('-')" id="btn-hyphen">
        <h4>-</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="enter(4)" id="btn-4">
        <h4>4</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(5)" id="btn-5">
        <h4>5</h4>
      </div>
      <div class="col-xs-3 pp-btn"data-ng-click="enter(6)" id="btn-6">
        <h4>6</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('.')" id="btn-period">
        <h4>.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="enter(7)" id="btn-7">
        <h4>7</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(8)" id="btn-8">
        <h4>8</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(9)" id="btn-9" >
        <h4>9</h4>
      </div>
      <div class="col-xs-3" >
        <button type="button" class="btn btn-default" data-ng-click="back()" id="back-btn">Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="toggleKeypad()" id="btn-toggle">
        <h4>*#</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(0)" id="btn-0">
        <h4>0</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('_')" id="btn-underscore">
        <h4>_</h4>
      </div>
      <div class="col-xs-3" >
        <input type="submit" value="Send" class="btn btn-default" />
      </div>
    </div>
  </div>
  <div data-ng-show="!showNumbers">
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="enter('(')" id="btn-11">
        <h4>(</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('/')" id="btn-12">
        <h4>/</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(')')" id="btn-13">
        <h4>)</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('-')" id="btn-hyphen-symbol">
        <h4>-</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="enter(';')" id="btn-14">
        <h4>;</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(',')" id="btn-15">
        <h4>,</h4>
      </div>
      <div class="col-xs-3 pp-btn"data-ng-click="enter('*')" id="btn-16">
        <h4>*</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('.')" id="btn-period-symbol">
        <h4>.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="enter('[')" id="btn-17">
        <h4>[</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('#')" id="btn-18">
        <h4>#</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter(']')" id="btn-19" >
        <h4>]</h4>
      </div>
      <div class="col-xs-3" >
        <button type="button" class="btn btn-default" data-ng-click="back()">Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 pp-btn" data-ng-click="toggleKeypad()" id="btn-toggle-back">
        <h4>123</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('+')" id="btn-10">
        <h4>+</h4>
      </div>
      <div class="col-xs-3 pp-btn" data-ng-click="enter('_')" id="btn-underscore-symbol">
        <h4>_</h4>
      </div>
      <div class="col-xs-3" >
        <input type="submit" value="Send" class="btn btn-default" />
      </div>
    </div>
  </div>
</div>

