<li id="faq-article-{{index}}" class="article-list-item" data-ng-click="getArticles()">
    <div class="article-link-wrapper">
        <div class="label-folder-icon">
            <i class="fa fa-fw fa-folder-open text text-primary"></i>
        </div>

        <div class="article-link-container">
            <span style="color: #333">{{ label.labelText }}</span>
        </div>

        <!--<div class="article-more-icon-container">
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
        </div>-->
    </div>
</li>