<div class="article-feedback-bar-container">
    <div class="article-feedback-text-wrapper">
        <div class="article-feedback-text-container">
            <h5 class="inline feedback-text" style="display:inline-block; margin-top: 7px;">Was this information helpful?</h5>
        </div>
    </div>
    <div class="article-feedback-btns-wrapper">
        <div class="article-feedback-btns-container">
            <a data-ng-click="thumbsUp()"><i class="fa fa-thumbs-up fa-2x"></i></a>
            <a data-ng-click="thumbsDown()"><i class="fa fa-thumbs-down fa-2x"></i></a>
        </div>
    </div>
</div>